<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709040549560-sfis6vkomnsp2r1of7vuu96s8v4ufcnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709040549560-sfis6vkomnsp2r1of7vuu96s8v4ufcnp</string>
	<key>API_KEY</key>
	<string>AIzaSyB8vICSEEdcHE9gTVoROam9Xvay0GyHEPs</string>
	<key>GCM_SENDER_ID</key>
	<string>709040549560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>philong.com.MyStore</string>
	<key>PROJECT_ID</key>
	<string>mystore-efcb1</string>
	<key>STORAGE_BUCKET</key>
	<string>mystore-efcb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709040549560:ios:937bc0b4accc0699364e4d</string>
</dict>
</plist>